<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Payment Method Facade configuration -->
    <virtualType name="OkinusPaymentGatewayFacade" type="Magento\Payment\Model\Method\Adapter">
        <arguments>
            <argument name="code" xsi:type="const">\Okinus\Payment\Model\Ui\ConfigProvider::CODE</argument>
            <argument name="formBlockType" xsi:type="string">Magento\Payment\Block\Form</argument>
            <argument name="infoBlockType" xsi:type="string">Okinus\Payment\Block\Info</argument>
            <argument name="valueHandlerPool" xsi:type="object">OkinusPaymentGatewayValueHandlerPool</argument>
            <argument name="commandPool" xsi:type="object">OkinusPaymentGatewayCommandPool</argument>
        </arguments>
    </virtualType>

    <!-- Configuration reader -->
    <virtualType name="OkinusPaymentGatewayConfig" type="Magento\Payment\Gateway\Config\Config">
        <arguments>
            <argument name="methodCode" xsi:type="const">\Okinus\Payment\Model\Ui\ConfigProvider::CODE</argument>
        </arguments>
    </virtualType>

    <!-- Logger, initialized with OkinusPaymentGatewayConfig -->
    <virtualType name="OkinusPaymentGatewayLogger" type="Magento\Payment\Model\Method\Logger">
        <arguments>
            <argument name="config" xsi:type="object">OkinusPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>

    <type name="Okinus\Payment\Gateway\Http\Client\ClientMock">
        <arguments>
            <argument name="logger" xsi:type="object">OkinusPaymentGatewayLogger</argument>
        </arguments>
    </type>

    <!-- Commands infrastructure -->
    <virtualType name="OkinusPaymentGatewayCommandPool" type="Magento\Payment\Gateway\Command\CommandPool">
        <arguments>
            <argument name="commands" xsi:type="array">
                <item name="authorize" xsi:type="string">OkinusPaymentGatewayAuthorizeCommand</item>
                <item name="capture" xsi:type="string">OkinusPaymentGatewayCaptureCommand</item>
                <item name="void" xsi:type="string">OkinusPaymentGatewayVoidCommand</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Authorize command -->
    <virtualType name="OkinusPaymentGatewayAuthorizeCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">OkinusPaymentGatewayAuthorizationRequest</argument>
            <argument name="handler" xsi:type="object">OkinusPaymentGatewayResponseHandlerComposite</argument>
            <argument name="transferFactory" xsi:type="object">Okinus\Payment\Gateway\Http\TransferFactory</argument>
            <argument name="client" xsi:type="object">Okinus\Payment\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Authorization Request -->
    <virtualType name="OkinusPaymentGatewayAuthorizationRequest" type="Magento\Payment\Gateway\Request\BuilderComposite">
        <arguments>
            <argument name="builders" xsi:type="array">
                <item name="transaction" xsi:type="string">Okinus\Payment\Gateway\Request\AuthorizationRequest</item>
                <item name="mockData" xsi:type="string">Okinus\Payment\Gateway\Request\MockDataRequest</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Okinus\Payment\Gateway\Request\AuthorizationRequest">
        <arguments>
            <argument name="config" xsi:type="object">OkinusPaymentGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Capture command -->
    <virtualType name="OkinusPaymentGatewayCaptureCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Okinus\Payment\Gateway\Request\CaptureRequest</argument>
            <argument name="handler" xsi:type="object">Okinus\Payment\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Okinus\Payment\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Okinus\Payment\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Okinus\Payment\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Capture Request -->
    <type name="Okinus\Payment\Gateway\Request\CaptureRequest">
        <arguments>
            <argument name="config" xsi:type="object">OkinusPaymentGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Void command -->
    <virtualType name="OkinusPaymentGatewayVoidCommand" type="Magento\Payment\Gateway\Command\GatewayCommand">
        <arguments>
            <argument name="requestBuilder" xsi:type="object">Okinus\Payment\Gateway\Request\VoidRequest</argument>
            <argument name="handler" xsi:type="object">Okinus\Payment\Gateway\Response\TxnIdHandler</argument>
            <argument name="transferFactory" xsi:type="object">Okinus\Payment\Gateway\Http\TransferFactory</argument>
            <argument name="validator" xsi:type="object">Okinus\Payment\Gateway\Validator\ResponseCodeValidator</argument>
            <argument name="client" xsi:type="object">Okinus\Payment\Gateway\Http\Client\ClientMock</argument>
        </arguments>
    </virtualType>

    <!-- Void Request -->
    <type name="Okinus\Payment\Gateway\Request\VoidRequest">
        <arguments>
            <argument name="config" xsi:type="object">OkinusPaymentGatewayConfig</argument>
        </arguments>
    </type>

    <!-- Response handlers -->
    <virtualType name="OkinusPaymentGatewayResponseHandlerComposite" type="Magento\Payment\Gateway\Response\HandlerChain">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="txnid" xsi:type="string">Okinus\Payment\Gateway\Response\TxnIdHandler</item>
                <item name="fraud" xsi:type="string">Okinus\Payment\Gateway\Response\FraudHandler</item>
            </argument>
        </arguments>
    </virtualType>

    <!-- Value handlers infrastructure -->
    <virtualType name="OkinusPaymentGatewayValueHandlerPool" type="Magento\Payment\Gateway\Config\ValueHandlerPool">
        <arguments>
            <argument name="handlers" xsi:type="array">
                <item name="default" xsi:type="string">OkinusPaymentGatewayConfigValueHandler</item>
            </argument>
        </arguments>
    </virtualType>
    
    <virtualType name="OkinusPaymentGatewayConfigValueHandler" type="Magento\Payment\Gateway\Config\ConfigValueHandler">
        <arguments>
            <argument name="configInterface" xsi:type="object">OkinusPaymentGatewayConfig</argument>
        </arguments>
    </virtualType>

    <type name="Okinus\Payment\Block\Info">
        <arguments>
            <argument name="config" xsi:type="object">OkinusPaymentGatewayConfig</argument>
        </arguments>
    </type>

</config>
