#okinus-apply-button{
    background: rgba(0,165,228,1)!important;
    color: #fff;
    border: rgba(0,165,228,1)!important;
    text-align: center;
    padding: 12px;
    min-width: 200px;
}
.okinus-widget {
    display:none;
    background: #0098e8;
    max-width: 170px;
    border: 2px solid #000;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
    color: #fff;
    position: fixed;
    bottom: 20px;
    z-index: 2;
    font-weight: 600;
}
.okinus-widget .value{
    color: #eeed56;
}
.close-widget{
    position: absolute;
    right: 6px;
    color: #000;
    cursor: pointer;
}
.okinus-dollar-sign > img{
    max-width: 50px;
    position: fixed;
    bottom: 50px;
    cursor: pointer;
}


#okinus-apply-button-product{
    /* background: rgba(0,165,228,1)!important; */
    /* color: #fff; */
    /* border: rgba(0,165,228,1)!important; */
    text-align: center;
    padding: 12px;
    /* min-width: 200px; */
}

#okinus_starting_at {
    display: flex;
    align-items: center;
}

#okinus_starting_at span:first-child {
    margin-right: 5px;
}

#okinus_starting_at strong {
    margin-right: 5px;
}


.okinus_starting_at_disclaimer {
    color: #5f5f5f;
    font-style: italic;
    margin-bottom: 5px;
}


.starting-at-branding {
    width: 50px;
    margin-left: 5px;
}

.checkout-branding {
    width: 50px;
    margin-right: 5px;
}
