#okinus-apply-button{
    background: rgba(0,165,228,1)!important;
    color: #fff;
    border: rgba(0,165,228,1)!important;
    text-align: center;
    padding: 12px;
    min-width: 200px;
}
.okinus-widget {
    display:none;
    background: #0098e8;
    max-width: 170px;
    border: 2px solid #000;
    border-radius: 3px;
    text-align: center;
    padding: 5px;
    color: #fff;
    position: fixed;
    bottom: 20px;
    z-index: 2;
    font-weight: 600;
}
.okinus-widget .value{
    color: #eeed56;
}
.close-widget{
    position: absolute;
    right: 6px;
    color: #000;
    cursor: pointer;
}
